

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.no {
        font-size: 36px;
    margin-top: 20px;
    color: #333;
    background-image: url(35.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

}
.back  {
    font-size: 36px;
    margin-top: 20px;
    color: #333;
    background-image: url(25.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    
}


.img img {
    width: 200px;
    height: auto;
    margin: 20px auto;
}

.sign {
    margin-top: 20px;
}

.sign a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

.sign a:hover {
    color: #0056b3;
}
